*{
    background-color: grey;
    margin: 0px;
    padding: 0px;
}

.headerContainer{
    color:white;
    display: flex;
    justify-content: center;
    font-size: large;
    border-radius: 15px;
}

.title{
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.root{
    display: flex;
    height:60vw;
    width: 100%;
    background-color: orange;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    background-color: red;
    /* height: 500px;
    width: 500px; */

    height: 80%;
    width: 80%;
}

.column{
    display: flex;
    background-color: blue; 
    flex: 1;
    flex-direction: column;
}

.box{
    background-color: yellow;
    flex: 1;
    
}

.box_visited{
    background-color: black;
    flex: 1;
}


#temp{
    background-color: rgb(102, 102, 179);
    font-size: large;
    padding: 5px;
    border-radius: 15px;
}
